<!DOCTYPE html>
<html>
    <head>
        <style>
            .centered {
                width: 100px;
                height: 400px;
                position: absolute;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="centered">

            <form method="POST" action="{% url 'start' %}">
                {% csrf_token %}
                {{ parse_form }}
                <button type="submit">initiate parse</button>
            </form>

        </div>
    </body>
</html>